* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}

body{
    background-color:aliceblue;
    color:#333;
    line-height:1.6;
}

.container{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
    background-color:white;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

header{
    text-align:center;
    margin-bottom:30px;
}

header h1{
    font-size:2.4rem;
    color:midnightblue;
}

header p{
    font-size:1.2rem;
    color:#333;
}

.contact p {
  font-size: 0.95rem;
  color: #555;
}

section{
    margin-bottom:25px;
}

h2{
    color:midnightblue;
    margin-bottom:8px;
    border-bottom:2px solid midnightblue;
}

ul{
    margin-left:20px;
    list-style-type:square;
}

footer{
    text-align:center;
    margin-top:30px;
    font-size: 0.85rem;
}